body{
    background-color:  rgb(236, 196, 143);
    /* background: linear-gradient(rgb(223, 133, 110), rgb(7, 93, 128), rgb(255, 166, 0)); */
    font-family: "Open Sans", sans-serif;
}

.jumbotron{
    background-color: rgb(202, 174, 120);
    padding: 30px;
}
/* .navbar {
    background-color: #9dd686; 
} */

.row-content{
    margin-top: 6rem;
}  

.site-footer{
    padding: 20px 0 0 0;
    margin-top: 100px;
    background-color: rgb(202, 174, 120);
}

}
.carousel {
    border: solid 10px rgba(0, 0, 0, 0.4);; 
    border-radius: 10px;
    
}
  
  /* .carousel-caption {
      color: red;
      text-shadow: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8); }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; } */

    

    .breadcrumb {
        background-color:  rgb(236, 196, 143); ;
    }

    .cl {
        background-color:  rgb(236, 196, 143);
        border: solid 4px lightslategray;
    }

    .cli {
        background-color: rgb(202, 174, 120);
    }
    a{
        color: teal;
        text-shadow:  ;
    }